:root {
  --primary-color: #e9edc9;
  --primary2-color: #ccd5ae;
  --teritary-color: #fefae0;
  --black-color: #000000;
  --white-color: #ffffff;
  --button-color: #755433;
  --btn-hover-color: #aa8560;
  --hover-color: #623f1c;
  --heading-color: #3b3f2c;
}

$primary-color: var(--primary-color);
$primary2-color: var(--primary2-color);
$secondary-color: var(--primary-color);
$teritary-color: var(--teritary-color);
$black-color: var(--black-color);
$white-color: var(--white-color);

$button-color: var(--button-color);
$btn-hover-color: var(--btn-hover-color);
$hover-color: var(--hover-color);
$heading-color: var(--heading-color);

// $primary-color: #46424f;
// $primary2-color: #2f2b3a;
// $secondary-color: #46424f;
// $teritary-color: #1a1625;
// $black-color: #ffffff;
// $white-color: var(--white-color);

// $button-color: #a688fa;
// $btn-hover-color: #f1faee;
// $hover-color: #e63946;
// $heading-color: #a688fa;

// $primary-color: #b8bdf2;
// $primary2-color: #8395f9;
// $secondary-color: #b8bdf2;
// $teritary-color: #f3ffe8;
// $black-color: var(--black-color);
// $white-color: #1f1b36;

// $button-color: #def2cd;
// $btn-hover-color: #abc496;
// $hover-color: #1f1b3659;
// $heading-color: #1f1b36;
// #8492a6
